$semiTransparentPixel: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAAFAAAABQHH33NSAAAAB3RJTUUH3gkTCSEW3MbWwgAAAA1JREFUCNdj+P///2QACY8Dka9uk1cAAAAASUVORK5CYII=);
$whitePixel: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAATAAAAEwEOyCcDAAAAB3RJTUUH3goOEBUjx3uMewAAAA1JREFUCNdj+P///38ACfsD/dGDjPAAAAAASUVORK5CYII=);

#cm-table {
  white-space: nowrap;
  display: inline-block;
}

#cm-floater {
  z-index: 91;
  transform: translateZ(0);
  .cm-td, .cm-th {
    background-color: #FFC1C1;
  }
}

.cm-tr {
  height: 30px;
  font-size: 0;
  display: block;
}
.cm-th, .cm-td {
  font-size: 12px;
  display: inline-block;
  height: 100%;
  line-height: 30px;
  overflow: hidden;
  text-oveflow: ellipsis;
  width: 100px;
  background-image: $whitePixel;
  background-repeat: repeat-y;
  background-position: right;
  text-align: center;
  text-overflow: ellipsis;
}
.cm-thead {
  color: whitesmoke;
  .cm-th {
    background-color: indianred;
  }
  .cm-tr:nth-child(odd) .cm-th {
    opacity: 0.9;
  }
}
.cm-tbody {
  color: #454545;
  .cm-td {
    background-color: #E3C2FF;
  }
  .cm-tr:nth-child(odd) .cm-td {
    opacity: 0.7;
  }
}
.ui-resizable-helper{
  height: 1000px;
  width: 5px;
  overflow: visible !important;
  &::after {
    z-index: 49 !important;
    border-right: 3px solid #FF0020;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    content: attr(data-filler);
    width: 1px;
    display: inline-block;
  }
}
.ui-resizable-handle{
  width: 10px !important;
  background-color: lightsalmon;
  opacity: 0.5;
  &:hover {
    width: 15px !important;
  }
}

.dragger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #87A613;
}

#configs {
  height: 80px;
  width: 600px;
  button {
    opacity: 0.5;
    width: 90px;
    &.is-on {
      opacity: 1.0;
    }
  }
}

@import 'colme';

