$semiTransparentPixel: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAAFAAAABQHH33NSAAAAB3RJTUUH3gkTCSEW3MbWwgAAAA1JREFUCNdj+P///2QACY8Dka9uk1cAAAAASUVORK5CYII=);
$whitePixel: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAATAAAAEwEOyCcDAAAAB3RJTUUH3goOEBUjx3uMewAAAA1JREFUCNdj+P///38ACfsD/dGDjPAAAAAASUVORK5CYII=);

$terra-terra:        #E8DDCB;
$terra-light:        #EFE6D8;
$aqua-profunda:      #033649;
$aqua-poco-profunda: #063F54;
$aqua-mucho-profunda: #022D3D;
$aqua-mucho-poco-porfunda: #045877;

$row-height:         45px;


body {
  font-family: sans-serif;
}
.cm-table {
  white-space: nowrap;
  display: inline-block;
  .cm-thead {
    color: whitesmoke;
    z-index: 3;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    .cm-th {
      background-color: indianred;
      border: 2px solid rgba(0,0,0,0.1);
    }
    .cm-tr:nth-child(odd) .cm-th {
      background-color: $aqua-profunda;
    }
  }
}

#cm-floater {
  z-index: 3;
  transform: translateZ(0);
  .cm-td, .cm-th {
    background-color: whitesmoke;
    color: $aqua-mucho-profunda;
  }
}

.cm-tr {
  height: $row-height;
  font-size: 0;
  display: block;
}
.cm-th, .cm-td {
  font-size: 12px;
  display: inline-block;
  height: 100%;
  line-height: $row-height;
  overflow: hidden;
  text-oveflow: ellipsis;
  width: 100px;
  border-right: 2px solid rgba(255,255,255,0.5);
  border-left: 2px solid rgba(255,255,255,0.5);
  background-position: right;
  text-align: center;
  text-overflow: ellipsis;
}

.cm-tbody {
  color: #454545;
  .cm-td {
    background-color: $terra-terra;
  }
  .cm-tr:nth-child(odd) .cm-td {
    background-color: $terra-light;
  }
}
.ui-resizable-helper{
  height: 1000px;
  width: 5px;
  overflow: visible !important;
  &::after {
    z-index: 49 !important;
    border-right: 3px solid #8CB2E3;
    opacity: 0.6;
    position: absolute;
    right: 0px;
    content: attr(data-filler);
    width: 1px;
    display: inline-block;
  }
}
.ui-resizable-handle{
  width: 10px !important;
  background-color: white;
  opacity: 0.1;
  &:hover {
    width: 15px !important;
  }
}

.dragger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #87A613;
}

.configs {
  margin-top: center;
  button {
    border: 1px solid #033649;
    border-radius: 2px;
    padding: 5px;
    margin: 3px;
    background-color: #045877;
    color: whitesmoke;
    width: 90px;
    &[data-cm-id]{
      opacity: 0.5;
    }
    &.is-on {
      opacity: 1.0;
    }
  }
}
#layouts {
  margin-bottom: 15px;
}

@import 'colme';

